/* font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilities */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-bottom: 21px;
    border-radius: 5px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 22px;
}


/* top players style */

.top-players {
    margin-bottom: 22px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}


/* Top Blogs styles */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
    margin-top: 7px;
}

.blog {
    display: flex;
    gap: 16px;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-title {
    font-weight: 500;
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-weight: 400;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #562EFF;
}


/* Latest Course styles */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
}

.course {
    display: grid;
    justify-items: center;
    box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000000D;
    border-radius: 10px;
    padding-bottom: 16px;
}

.course-thumbnail img {
    width: 224px;
    height: 104px;
}

.course-details {
    width: 224px;
}

.course-info {
    display: flex;
    grid-column-gap: 25px;
}

.course-info .fa-star.filled {
    color: #FFC014;
    font-size: 11.81px;
}

.course-info .fa-star.empty {
    color: #AEAEAE;
    font-size: 11.81px;
    opacity: 0.25;
}

.course-duration {
    width: 94.83px;
    height: 29.38px;
    display: flex;
    justify-content: space-around;
    background-color: #FFE4E8;
    border-radius: 14.6913px;
    font-size: 14.69px;
    color: #FF4A60;
    align-items: center;
}

.fa-clock {
    font-size: 20.03px;
}


/* Media Query */

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }
    .players {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}